@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../components/card/Card.css';
@import '../components/checkboxes/Checkboxes.module.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start: #fed6e3;
  --background-end: #a8edea;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start: #a8edea;
    --background-end: #fed6e3;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(to top, var(--background-start) 0%, var(--background-end) 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
body{
  min-height: 300px !important;
}
